<!doctype html>
<html>
	<title>御魂计算器v4.0</title>
    <body>
        <fieldset>
            <legend>筛选条件</legend>
			<tr><td class="mitama_suit">御魂套装</td>
			<td>
				<select name="mitama_type">
					<option value="" selected="selected">不限</option>
					<option value="珍珠">珍珠</option>
					<option value="骰子鬼">骰子鬼</option>
					<option value="蚌精">蚌精</option>
					<option value="魅妖">魅妖</option>
					<option value="针女">针女</option>
					<option value="返魂香">返魂香</option>
					<option value="土蜘蛛">土蜘蛛</option>
					<option value="胧车">胧车</option>
					<option value="荒骷髅">荒骷髅</option>
					<option value="地震鲶">地震鲶</option>
					<option value="蜃气楼">蜃气楼</option>
					<option value="雪幽魂">雪幽魂</option>
					<option value="地藏像">地藏像</option>
					<option value="蝠翼">蝠翼</option>
					<option value="涅槃之火">涅槃之火</option>
					<option value="魍魉之匣">魍魉之匣</option>
					<option value="被服">被服</option>
					<option value="招财猫">招财猫</option>
					<option value="反枕">反枕</option>
					<option value="轮入道">轮入道</option>
					<option value="日女巳时">日女巳时</option>
					<option value="镜姬">镜姬</option>
					<option value="钟灵">钟灵</option>
					<option value="狰">狰</option>
					<option value="火灵">火灵</option>
					<option value="鸣屋">鸣屋</option>
					<option value="薙魂">薙魂</option>
					<option value="心眼">心眼</option>
					<option value="木魅">木魅</option>
					<option value="树妖">树妖</option>
					<option value="网切">网切</option>
					<option value="阴摩罗">阴摩罗</option>
					<option value="伤魂鸟">伤魂鸟</option>
					<option value="破势">破势</option>
					<option value="镇墓兽">镇墓兽</option>
					<option value="狂骨">狂骨</option>
					<option value="幽谷响">幽谷响</option>
					<option value="攻击加成">攻击加成</option>
					<option value="防御加成">防御加成</option>
					<option value="暴击">暴击</option>
					<option value="生命加成">生命加成</option>
					<option value="效果命中">效果命中</option>
					<option value="效果抵抗">效果抵抗</option>
				</select>
				<lable>套装数量</lable>
				<select name="mitama_num">
					<option value="0" selected="selected">不限</option>
					<option value="2">2</option>
					<option value="4">4</option>
				</select>
			</td></tr>
        </fieldset>
    </body>
</html>

