<!doctype html>
<html>
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <title>御魂计算器v4.0</title>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">御魂计算器4.0</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            预设方案
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <!--TODO：从本地文件加载预设模板内容-->
                            <a class="dropdown-item" href="#">A</a>
                            <a class="dropdown-item" href="#">B</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        <br>
        <form class="form-inline">
            <div class="form-group">
                <label for="input_file">选择御魂数据文件</label>
                <input type="file" class="form-control-file" id="input_file" aria-describedby="input_file_help_inline">
                <small id="input_file_help_inline" class="text-muted">支持.xls或.json格式</small>
            </div>
        </form>
        <br>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">
                    筛选条件
                    <button type="button" class="btn btn-secondary btn-sm" id="add_bt" onclick="add_form(this, 3)">+</button>
                </h5>
                <form class="form-inline">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="mitama_type">御魂套装</label>
                        </div>
                        <select class="custom-select" id="mitama_type" style="overflow:scroll">
                            <option value="" selected="selected">不限</option>
                            <option value="珍珠">珍珠</option>
                            <option value="骰子鬼">骰子鬼</option>
                            <option value="蚌精">蚌精</option>
                            <option value="魅妖">魅妖</option>
                            <option value="针女">针女</option>
                            <option value="返魂香">返魂香</option>
                            <option value="土蜘蛛">土蜘蛛</option>
                            <option value="胧车">胧车</option>
                            <option value="荒骷髅">荒骷髅</option>
                            <option value="地震鲶">地震鲶</option>
                            <option value="蜃气楼">蜃气楼</option>
                            <option value="雪幽魂">雪幽魂</option>
                            <option value="地藏像">地藏像</option>
                            <option value="蝠翼">蝠翼</option>
                            <option value="涅槃之火">涅槃之火</option>
                            <option value="魍魉之匣">魍魉之匣</option>
                            <option value="被服">被服</option>
                            <option value="招财猫">招财猫</option>
                            <option value="反枕">反枕</option>
                            <option value="轮入道">轮入道</option>
                            <option value="日女巳时">日女巳时</option>
                            <option value="镜姬">镜姬</option>
                            <option value="钟灵">钟灵</option>
                            <option value="狰">狰</option>
                            <option value="火灵">火灵</option>
                            <option value="鸣屋">鸣屋</option>
                            <option value="薙魂">薙魂</option>
                            <option value="心眼">心眼</option>
                            <option value="木魅">木魅</option>
                            <option value="树妖">树妖</option>
                            <option value="网切">网切</option>
                            <option value="阴摩罗">阴摩罗</option>
                            <option value="伤魂鸟">伤魂鸟</option>
                            <option value="破势">破势</option>
                            <option value="镇墓兽">镇墓兽</option>
                            <option value="狂骨">狂骨</option>
                            <option value="幽谷响">幽谷响</option>
                            <option value="攻击加成">攻击加成</option>
                            <option value="防御加成">防御加成</option>
                            <option value="暴击">暴击</option>
                            <option value="生命加成">生命加成</option>
                            <option value="效果命中">效果命中</option>
                            <option value="效果抵抗">效果抵抗</option>
                        </select>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="mitama_num">套装数量</label>
                        </div>
                        <select class="custom-select" id="mitama_num">
                            <option value="0" selected="selected">不限</option>
                            <option value="2">2</option>
                            <option value="4">4</option>
                        </select>
                    </div>
                    <div class="input-group mb-3">
                        <button type="button" class="btn btn-secondary btn-sm" id="del_bt" onclick="del_form(this)" disabled="true">-</button>
                    </div>
                </form>
            </div>
        </div>
        <form id="start">
            <button type="submit" class="btn btn-primary">开始计算</button>
        </form>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script>
        function add_form(button, max_lines) {
            var forms = $(button).parent().parent().children("form");
            var form_new = forms.eq(0).clone();
            forms.eq(forms.length-1).after(form_new);
            if(forms.length+1 >= max_lines) $(button).attr('disabled', true);
            $(del_bt).attr('disabled', false);
        }
        function del_form(button) {
            var form = $(button).parent().parent();
            var forms = form.parent().children("form");
            if(forms.length-1 == 1) $(del_bt).attr('disabled', true);
            if(forms.length > 1) form.remove();
            $(add_bt).attr('disabled', false);
        }
        $("#start").submit(function(event) {
            event.preventDefault();
            // 获取文件名
            var source_data = $("#input_file").val();
            // 获取御魂套装限制
            var m_types = $('[id="mitama_type"]');
            var m_nums =  $('[id="mitama_num"]');
            var len = m_types.length;
            var mitama_suit = ''
            for(var i=0; i<len; i++) {
                mitama_suit += m_types[i].value;
                mitama_suit += ',';
                mitama_suit += m_nums[i].value;
                if (i < len-1) mitama_suit += '.';
            }
            // TODO $.post("/calculate", data)
            data = {'source_data': source_data,
                    'mitama_suit': mitama_suit};
            console.log(data);
            $.ajax({
                    type: 'POST',
                    url: "/calculate",
                    data: data,
                   });
        })
    </script>
    </body>
</html>

